body {
	position: relative;
	/* color: white; */
	height: 100vh;
	/* background: linear-gradient(200.96deg,
			#fedc2a -29.09%,
			#dd5789 51.77%,
			#7a2c9e 129.35%); */
	font-family: sans-serif;
	overflow-y: hidden;
	/* display: flex;
	justify-content: center; */
	/* align-items: center; */
}

.Hello {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

/* --------------------------- */
/* MUI Overrides */
/* .MuiPickerStaticWrapper-root {
	transform: scale(1.1);
} */
