body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	overflow-y: auto;
}

.checkver-span {
	text-decoration: underline;
	cursor: pointer;
	color: blueviolet
}

/* --------------------------- */
/* MUI Overrides */
.MuiCard-root#light {
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.MuiCard-root#dark {
	box-shadow: 0 0.25rem 1rem rgb(255, 255, 255, .275) !important;
}

.MuiCalendarPicker-root {
	transform: scale(1.1);
}

/* --------------------------- */
/* custom scrollbar */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
